<div id="Main-post">
	
	<div id="Text-side">
			
			<div id="author">
				<div id="author-image">
					


				</div>

				<div id="author-info">
					<table>
		 			<tr><h3> Author : Mkusa Sakala</h3></tr>
		 			

		 			<tr> 
		 			 
		 	    	</tr>

		 			</table>
		 		</div>
			</div>

	<div id="Text-body">

	</div>

	
			
    </div>
			
   

	<div id="Image-side">

	     
	     
	</div>	


</div>